*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.outer{
    background: #fff url("img/ajax.jpeg") no-repeat  scroll center;
    height: 100vh;
    background-size: cover;
}

.top{
    height: 5.5em;
    position: relative;
    
}

.button1{
    color: white;
    font-size: 1.65em;
    height: 3.5em;
    width: 8em;
    display: block;
    float: left;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5em;
    font-family: Montserrat;
}

.clients{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 1em;
    font-family: Montserrat;
    text-decoration: none;
    

}

.searchBox {
    margin: 2em;
    width:90%;
}
.searchBar {
    width: 100%;
}


.menuButton{
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2.50em;
    
}
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.top-text{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 2em;
    font-family: Montserrat;
    
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.outer2{
    border: 2px solid red;
    height: 40em;
    
}

.schedule{
    color: black;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 1em;
    font-family: Montserrat;
}

.competiton{
    color: red;
    font-size: 1em;
    display: block;
    text-align: center;
    margin-top: 1em;
    font-family: Montserrat;
}

.date{
    color: red;
    font-size: 1em;
    display: block;
    text-align: center;
    margin-top: 1em;
    font-family: Montserrat;
}

.ajax{
    height: 3em;
    display: inline;
    text-align: center;
    
}

.vs{
    color: red;
    font-size: 1em;
    display: block;
    text-align: center;
    margin-top: 0.3em;
    font-family: Montserrat;
}

.ado{
    height: 3em;
    display: inline;
    text-align: center;
    margin-left: 20em;
}