*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-family: Montserrat;
    
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');




.outer{
    background: #fff url("img/ajax.jpeg") no-repeat  scroll center;
    height: 100vh;
    background-size: cover;
}


#myModalOk{
    display: none;
    height: 100px;
    width: 50%;
}

#myModalKo{
    display: none;
    height: 100px;
    width: 50%;
} 

#myForm{
    margin-top: 1em;
    padding-left: 1em;
}

.top{
    height: 5.5em;
    position: relative;
    
}

.xxxx{
    color: black;
}

.button1{
    color: white;
    font-size: 1.65em;
    height: 3.5em;
    width: 8em;
    display: block;
    float: left;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5em;
}

.clients_1, .clients_2, .search-lens{
    color: ghostwhite;
    font-size: 1em;
    display: block;
    text-align: center;
    margin-top: 2em;
    width: 7em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: #b8032b;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: 0;
}

.searchBox {  
    display: block;
    margin: auto;
    width:90%;
}
.searchBar {
    width: 100%;
    border-radius: 5px;
    
}

.search-lens > button {
    -webkit-transform: rotate(-45deg); 
       -moz-transform: rotate(-45deg); 
         -o-transform: rotate(-45deg);
    background-color: transparent;
    border: none;
    color: ghostwhite;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.25em;
}


.menuButton{
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2.50em;
    
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.top-text{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 2em;
    
}
.element{
    margin: 0;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.outer2{
    height: auto;
    
}

.schedule{
    color: white;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    margin-top: 1em;
    background-color: white;
    margin-right: 10px; 
    width: 100%;
}

.schedule2{
    color: white;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    margin-top: 1em;
    background-color: #b8032b;
    margin-right: 10px; 
    width: 100%;
    
}

.competition, .date, .buybutton {
    width: 100%;
    text-align: center;
    padding-bottom: .3em;
}
.competition{
    color: black;
    font-size: 1em;
    display: block;
}

.buybutton{
    color: ghostwhite;
    font-size: 1em;
    display: block;
    margin: auto;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    background-color: #b8032b;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
}

.date{
    color: black;
    font-size: 1em;
}

.match-body{
    display: inline-block;
    margin: auto;
    padding: .5em;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.team-one, .team-two {
    width: 25vw;
    height: 25vw;
    overflow: hidden;
}
.team-one{
    float: left;
}

.team-one > img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.team-two{
    float: right; 
    margin: 0 auto;
    
}

.team-two > img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 100%;
}

.match-stats {
    width: 50%;
    margin: 0 auto;
}

.outer_{
    height: auto;
}


.seller_info{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 1em;
    background-color: #b8042b;  
}


.outer3{
    height: auto;
    text-align: center
}


.outer3>div{
    height: auto;
    text-align: center
}

.about{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 1em;
    background-color: #b8042b;
    height: auto;
}

.titles{
    color: black;
    font-size: 3em;
    display: block;
    text-align: left;
    margin-top: 1em;
    font-family: Montserrat;
}




.arena_img{
    margin-top: 1em;
    width: 400px;
    height: 300px;
}




.outer4{
    height: auto;
}

.about_us{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 1em;
    font-family: Montserrat;
    background-color: #b8042b;
    padding-left: 1em;
}

p{
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
}

.contact_us{
    
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 1em;
    font-family: Montserrat;
    background-color: #b8042b;

}

.buyer_buyer{
    color: white;
    font-size: 1.65em;
    display: block;
    text-align: center;
    font-family: Montserrat;
    margin-top: 1em;
}

.Ajax_Ado{
    color: red;
    font-size: 1.65em;
    display: block;
    text-align: center;
    font-family: Montserrat;
    margin-top: 1em; 
}



.menuBig ul li{
    display: inline-block;
    color: white;
    font-size: 0.8em;
    float: right;
    margin: 1.3em auto;
    text-align: center;
    line-height: 3.5em;
    padding: 0.5em;
    
}

#contact_form{
    margin-top: 1em;
    padding-left: 1em;
}

 .footer-top{
    margin-top: 1em;
    background-color: #b8042b;
    width: 100%;
    height: 8em;
        
}
    
 .footer-middle{
    background-color: black;
    width: 100%;
    height: 8em;
}

    
.footer-down{
    background-color: #b8042b;
    width: 100%;
    height: 8em;
}

.andreas{
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    margin-top: 4.3em;
    
}




/*MEDIA QUERIES MEDIA QUEIRES MEDIA QUERIES*/


@media screen and (min-width: 480px) {


  .element{
      display: inline-block;
    }

    .outer3>div{
        height: auto;
        text-align: left;
    }
}
    

@media screen and (min-width: 768px) {
    

        .menuBig ul li{
        font-size: 1em;
        padding: 1em;
        margin-top: 0;
    }

}
